*{
    transition: all 1s;
}

html{
    height: 100%;
}

body.body{
    background-color: blueviolet;
    height: 100%;

}

#quote-box{
    min-width: 50vw;
}

#text{
    max-width: 50vw;
    font-size: 1.75rem;
    color: rgba(0,0,0,0);
}


#author{
    max-width: 50vw;
    font-size: 1.25rem;
    font-style: italic;
    color: rgba(0,0,0,0);
}